.appbody{
	width: 925px;
	height: auto;
	margin: 100px auto 0;
	padding-bottom: 50px;
}

.format-img{
	border-radius: 100%;
	border: 1px groove #78787a87;
	width: fit-content;
	padding: 3px;
	margin-right: 50px;
}

.format-img img{
	width: 150px;
	height: 150px;
}

.nome-acc h1{
	font-weight: 200;
	font-size: 32px;
	line-height: 32px;
	font-family: Calibri;
	color: #0000009e;
	display: inline-block;
}

.follow_button{
	padding: 0px 24px;
	background-color: transparent;
	border: 0.5px solid #dbdbdb;
	color: #262626b8;
	border-radius: 3px;
	font-weight: 600;
	font-family: calibri;
	line-height: 22px;
	display: inline-block;
	position: relative;
	left: 20px;
	bottom: 6px;
	font-size: 16px;
}

.dados-acc{
	margin-top: -9px;
}

.dados-acc h3{
	font-weight: 400;
	font-size: 17px;
	line-height: 32px;
	font-family: Calibri;
	color: rgba(0, 0, 0, 0.71);
	display: inline-block;
	margin-right: 40px;
}

.dados-acc h3 span{
	font-weight: bold;
}

.intro-acc p{
	font-weight: 400;
	font-size: 17px;
	/*line-height: 32px;*/
	font-family: Calibri;
	color: #000000c4;
	display: inline-block;
	margin-right: 40px;
}

.intro-acc p span{
	font-weight: bold;
	font-size: 18px;
}

.intro-acc p a{
	font-weight: bold;
	color: #003569d1;
}

.intro-acc h5{
	margin-top: 0;
	color: #999;
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
}

.intro-acc h5 span{
	color: #0f0f0fa8;
}

.elements-sep{
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	font-family: Calibri;
	color: #000000b5;
	display: inline-block;
}

.elements-sep div{
	width: fit-content;
	cursor: pointer;
	padding-top: 14px;
}

.gallery .post{
	cursor: pointer;
	display: inline-block;
	background: url('http://localhost/bookpost_convence/static/images/bg_client2.png') center;
	background-size: cover;
	padding: 0;
	height: 292px;
	width: 292px;
	margin: 20px 20px 8px 0px;
}

.post-details{
	display: none;
	background: #007936;
	color: white;

	min-height: 480px;
	height: fit-content;
	width: 480px;
	position: relative;
	bottom: 185px;
	border-radius: 11px;
}

.post-details i{
	cursor: pointer;
	position: absolute;
	top: 10px;
	left: 10px;
}

.fix-this{
	display: block!important;
}

.container-details{
	cursor: initial;
	position: absolute;
	font-family: "Courier New", Courier, monospace;
	margin-top: 30px;
	padding: 10px;
}

.container-details h1{
	font-size: 22px;
	display: inline-block;
}

.post-details .container-details a i{
	color: white;
	cursor: pointer;
	position: relative;
	top: -1px;
	left: 4px;
	padding: 9px 8px;
	border-radius: 100%;
	transition: linear 150ms;
}

.post-details .container-details i:hover{
	background-color: #000000ad;
}

.container-details p{
	font-size: 14px;
}

.foot-details{
	margin-top: 20px;
}

.foot-details ul{
	list-style: none;
	padding: 0;
	margin-top: 20px;
	display: inline;
}

.foot-details li{
	display: inline-block;
}

.post-details .container-details .foot-details ul li a i{
	color: white;
	cursor: pointer;
	position: relative;
	top: -1px;
	left: 4px;
	padding: 8px;
	border-radius: 100%;
	transition: linear 150ms;
	background-color: #000000ad;
}

.post-details .container-details .foot-details ul li a i:hover{
	background-color:transparent;
}

.post-details .container-details .foot-details .follow_button{
	/*left: 90px;*/
	top: 0;
	transition: linear 150ms;
}

.post-details .container-details .foot-details .follow_button:hover{
	background-color: #000000ad;
	color: white;
}

.bg-green{
	background-color: #1bf61bde!important;
}

.bg-red{
	background-color: #f60a1be6!important;
}

.bg-yellow{
	background-color: #007936!important;
}

.post-aproved{
	border: 2px solid rgba(27, 246, 27, 0.66) !important;
}

.post-notsee{
	border: none !important;
}

.post-naproved{
	border: 2px solid rgba(246, 10, 27, 0.9) !important;
}

.left_col{
	background: #007936;
}

.nav_title{
	background: #007936;
}
body{
	background: #007936;
}

.nav.child_menu>li>a, .nav.side-menu>li>a {
	color: white;
	font-weight: 500;
}

.menu_section h3 {
	text-shadow: none;
}

.profile_info span {
	color: white;
}

.sidebar-footer {
	background: #007936;
}

a {
	color: white;
}

.sidebar-footer a {
	background: #007936;
}

a:focus, a:hover {
	color: #007936;
}

.nav.side-menu>li.active>a {
	text-shadow: rgba(0,0,0,.25) 0 -1px 0;
	background: linear-gradient(rgba(0, 121, 54, 1), rgba(4, 88, 42, 1), rgba(2, 76, 35, 1));
	box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,.16) 0 1px 0;
}

.nav-md ul.nav.child_menu li:before {
	background: white;
}

.nav-sm ul.nav.child_menu {
	background: #007936;
}

.site_title i {
	border: 1px solid white;
	padding: 10px 7px 10px 9px;
}

.site_title {
	font-size: 20px;
}

.site_title span{
	margin-left: 10px;
}

.form-rs ul li i{
	font-size: 20px;
	color: white;
	cursor: pointer;
	position: relative;
	top: -1px;
	left: 4px;
	padding: 10px 12px;
	border-radius: 100%;
	transition: linear 150ms;
	background-color: #000000ad;
	margin-right: 5px;
}

.form-rs ul li i:hover{
	background-color: #007936;
}

.nav-sm .nav.side-menu li a {
	font-size: 9px;
}

.owl-carousel:hover .owl-nav div:hover {
	color: #fff;
	background: #007936;
}

.card-imoveis{
	width: 100%;
	margin-bottom: 50px;
	border: 2px solid #9E9E9E;
	border-radius: 11px;
}

imoveis-slider{
	border-top-left-radius: 11px;
	border-top-right-radius: 11px;
}

.owl-carousel .owl-nav div {
	background: transparent;
	height: 30px;
	left: 0px;
	line-height: 54px;
	position: absolute;
	text-align: center;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	width: 30px;
	font-size: 25px;
	color: #fff;
	background-color: rgba(255,255,255,0.2);
	border-radius: 50%;
	left: 30px;
	font-size: 18px;
	line-height: 54px;
	display: none;
}

.owl-carousel:hover .owl-nav div{

	display: initial;
}

.owl-carousel .owl-nav div.owl-next {
	right: 30px;
}

.owl-carousel .owl-nav div.owl-next i {
	position: relative;
	right: 0;
	bottom: 11px;
	top: initial;
}

.owl-carousel .owl-nav div.owl-prev i {
	position: relative;
	right: 1px;
	bottom: 11px;
	top: initial;

}

.owl-stage-outer{
	height: -webkit-fill-available;
}

.slider_active.owl-carousel.owl-loaded.owl-drag{
	height: 300px;

}

.menu-imoveis{
	width: 100%;
	background: #cacaca;
	border-bottom-left-radius: 11px;
	border-bottom-right-radius: 11px;
	padding: 10px 5px;
}



.menu-imoveis ul{
	list-style-type: none;
}

.menu-imoveis ul li{
	display: inline-block;
	text-align: center;
	margin-right: 5px;
	color: #fff;
	font-family: Helvetica;
	font-weight: 700;
	position: relative;
}

.menu-imoveis ul form{
	display: inline-block;
}

.status-button{
	 border: 1px white solid;
	 border-radius: 100%;
	 height: 14px;
	 width: 10px;
 }

.status-button:hover{
	border-color: #007936;
}

.status-button.active{
	background: green;
	border-color: green;
}

.status-button.inactive{
	background: red;
	border-color: red;
}

.info-imoveis ul li{
	list-style: circle;

}

.num_fotos_input{
	margin-top: 15px;
	width: 100%;
	padding-left: 5px;
}

.num_fotos_input:hover, .num_fotos_input:focus{
	border-color: #007936!important;
}

.button_fotos_input{
	display: inline-block;
	margin-left: 10px;
	margin-top: 15px;
	border-radius: 11px;
	background-color:#007936;
	color:#fff;
	border: 1px solid #007936
}

.form_add_fotos{
	margin-bottom: 50px;
}
